
h2 {
    margin: 0px 40px;
    padding-top: 10px;
    font-weight: 800;
}

.row {
    margin: 30px 70px;   
 }

 h5 {
     padding: 20px 20px;
     font-family: 'Ubuntu', sans-serif;
     line-height: 1.5;
     text-decoration: underline;
    
 }

 .link {
     text-decoration: none;
     color: #fff;
 }

 button {
     margin: 30px 0px;
 }