<app-header></app-header>
<section id="sports">
    <div class="row">
        <div *ngFor ="let sports of sportsNews" class="">
            <div class="shadow-sm p-3 mb-5 bg-body rounded news">
                <section id="heading">
                    <p class="head"><a href="{{sports.url}}">{{sports.title}}</a></p>
                    <p>Updated on {{sports.publishedAt}}</p>
                    <p class="agency">{{sports.source.name}}</p>
                </section>
                <section id="img">
                    <img src={{sports.urlToImage}} alt="image"/>
                </section>
            </div>
        </div>
    </div>
</section>