<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="bg">
        <app-header></app-header>
        <div id="desc">
            <p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
        </div>
        <hr>
        <p id="copy">&copy; India Times 2023</p>
    </div>
</body>

</html>